[Unit]
Description=Cassandra 2
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run -p 9160:9160 \
                              -p 7199:7199 \
                              -p 7000:7000 \
                              -p 9042:9042 \
                              -e "PUBLIC_NAME=%H" \
                              ryfow/docker-cassandra:latest

[X-Fleet]
X-Conflicts=cassandra.*.service
